body {
  width:90%;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

table{
  border:1px solid black;
  border-collapse: collapse;
  text-align:center
}

table table {
  border:0;
  background: lightgrey
}

p {
  margin: 0%;
}